img {
    cursor: pointer;
}
h3 {
    text-decoration: underline;
}
body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  /*text-align: center;*/
}
footer {
    background: #1E1E1E;
    color: white;
    z-index: 100;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
footer p{
 padding: 20px;
 margin: 0px;
}
.luser{
	position: fixed;
	top:50px;
	left: 0;
	height: auto;
	width: auto;
	z-index: 2;
}
html {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}
.modal.fade .modal-dialog{
    -webkit-transition-property: transform; 
    -webkit-transition-duration:0 ; 
    transition-property: transform; 
    transition-duration:0 ; 
}

.modal.fade {
   transition: none; 
}

.collapsing {
    -webkit-transition: none;
    transition: none;
}
.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    /* text-shadow: 0 1px 0 #fff; */
    filter: alpha(opacity=20);
     opacity: 1; 
}
.modal-header {
    background-color: #286090;
    color: white;
} 