	body{
		background-color: #f9f9f9;
	}
	html {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}
	#lform{
		padding: 20px;
		width: 100%;
		min-width:200px;
		min-height: 200px;
		max-height: 100%;
		    max-width: 380px;
    margin: 0 auto;
		    margin-top: 10px;
	}
	.form-control{
		margin: 20px 0px;
		padding: 20px;
	}