 .animation.animated-item-0 {
  -webkit-animation: fadeInUp 100ms linear 100ms both;
  -moz-animation: fadeInUp 100ms linear 100ms both;
  -o-animation: fadeInUp 100ms linear 100ms both;
  -ms-animation: fadeInUp 100ms linear 100ms both;
  animation: fadeInUp 100ms linear 100ms both;
}


 .animation.animated-item-1 {
  -webkit-animation: fadeInUp 300ms linear 300ms both;
  -moz-animation: fadeInUp 300ms linear 300ms both;
  -o-animation: fadeInUp 300ms linear 300ms both;
  -ms-animation: fadeInUp 300ms linear 300ms both;
  animation: fadeInUp 300ms linear 300ms both;
}

 .animation.animated-item-2 {
  -webkit-animation: fadeInUp 300ms linear 600ms both;
  -moz-animation: fadeInUp 300ms linear 600ms both;
  -o-animation: fadeInUp 300ms linear 600ms both;
  -ms-animation: fadeInUp 300ms linear 600ms both;
  animation: fadeInUp 300ms linear 600ms both;
}

 .animation.animated-item-3 {
  -webkit-animation: fadeInUp 300ms linear 900ms both;
  -moz-animation: fadeInUp 300ms linear 900ms both;
  -o-animation: fadeInUp 300ms linear 900ms both;
  -ms-animation: fadeInUp 300ms linear 900ms both;
  animation: fadeInUp 300ms linear 900ms both;
}

 .animation.animated-item-4 {
  -webkit-animation: fadeInUp 300ms linear 1200ms both;
  -moz-animation: fadeInUp 300ms linear 1200ms both;
  -o-animation: fadeInUp 300ms linear 1200ms both;
  -ms-animation: fadeInUp 300ms linear 1200ms both;
  animation: fadeInUp 300ms linear 1200ms both;
}






 .animation.animated-item-5 {
  -webkit-animation: fadeIn 100ms linear 100ms both;
  -moz-animation: fadeIn 100ms linear 100ms both;
  -o-animation: fadeIn 100ms linear 100ms both;
  -ms-animation: fadeIn 100ms linear 100ms both;
  animation: fadeIn 100ms linear 100ms both;
}


 .animation.animated-item-6 {
  -webkit-animation: fadeIn 300ms linear 300ms both;
  -moz-animation: fadeIn 300ms linear 300ms both;
  -o-animation: fadeIn 300ms linear 300ms both;
  -ms-animation: fadeIn 300ms linear 300ms both;
  animation: fadeIn 300ms linear 300ms both;
}

 .animation.animated-item-7 {
  -webkit-animation: fadeIn 300ms linear 600ms both;
  -moz-animation: fadeIn 300ms linear 600ms both;
  -o-animation: fadeIn 300ms linear 600ms both;
  -ms-animation: fadeIn 300ms linear 600ms both;
  animation: fadeIn 300ms linear 600ms both;
}

 .animation.animated-item-8 {
  -webkit-animation: fadeIn 300ms linear 900ms both;
  -moz-animation: fadeIn 300ms linear 900ms both;
  -o-animation: fadeIn 300ms linear 900ms both;
  -ms-animation: fadeIn 300ms linear 900ms both;
  animation: fadeIn 300ms linear 900ms both;
}

 .animation.animated-item-9 {
  -webkit-animation: fadeIn 300ms linear 1200ms both;
  -moz-animation: fadeIn 300ms linear 1200ms both;
  -o-animation: fadeIn 300ms linear 1200ms both;
  -ms-animation: fadeIn 300ms linear 1200ms both;
  animation: fadeIn 300ms linear 1200ms both;
}

      @font-face {
  font-family: 'Raleway-Regular';
  src: url('../fonts/Raleway-Regular.ttf');

}
      @font-face {
    font-family: 'Raleway-SemiBold';
  src: url('../fonts/Raleway-SemiBold.ttf');
}
      @font-face {
    font-family: 'Raleway-Medium';
  src: url('../fonts/Raleway-Medium.ttf');
}
      @font-face {
    font-family: 'ArialMT';
  src: url('../fonts/ARI.ttf');

}
        @font-face {
    font-family: 'Arial-BoldMT';
  src: url('../fonts/arial-boldmt-opentype.otf');
}

        @font-face {
    font-family: 'PingFang-Bold';
  src: url('../fonts/PingFang-Bold.ttf');
}

        @font-face {
    font-family: 'PingFang-Medium';
  src: url('../fonts/PingFang-Medium.ttf');
}
h1,h2,h3,h4{
      margin-top: 0px;
    margin-bottom: 0px;
}
/*init*/
@media (min-width: 100px){
.hideimg{
  display: none;
}
  #orgName{
    font-family: STHeitiTC-Medium;
  font-size: 22px;
  color: #FFFFFF;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  margin-left: 20px;
  margin-top: 20px;
  }
  #sarea1{
    min-height: 568px;
  }
  #sarea1bg{
display: none;
  }
    #sarea1bg2{
display: block;
    min-height: 568px;
    min-width: auto;
    width: 100%;
    height: auto;
  }
  .head1{
  font-family: Raleway-Regular,PingFang-Bold;
  font-size: 30px;
  color: #FFFFFF;
  letter-spacing: 0px;
  }
  .intro1{
    font-family: Raleway-Regular,PingFang-Medium;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 1.44px;
  line-height: 16px;
  }
  #linegrp{
        cursor: default;
      text-align: center;
      position: relative;
  }
  #line1 {
      width: 7.5%;
      position: absolute;
      top: 50%;
      margin: 0;
      left: 0;
      margin-left: 11.5%;
      display: none;
  }
  #line2 {
      width: 7.5%;
      position: absolute;
      top: 50%;
      margin: 0;
      right: 0;
      margin-right: 11.5%;
      display: none;
  }
#minhr{
    display: block;
    width: auto;
    margin-right: 11.5%;
    margin-left: 11.5%;
}
#linel{
  width: 0%;
}
#linec{
  width: 100%;
}
#liner{
  width: 0%;
}

  .lineclass{
    border: 1px solid #FFFFFF;
  }
  #sarea2{
    min-height: 568px;
     height: auto;
  }
  .alltextcenter{
    text-align: center;
  }

.head2{
  font-family: Raleway-Regular;
font-size: 30px;
color: #1553A5;
letter-spacing: 0px;
top: 0;
padding-top: 30px;
padding-bottom: 18px;
}
.intro2{
font-family: Raleway-Regular;
font-size: 13px;
color: #737373;
letter-spacing: 1px;
line-height: 13px;
padding-bottom: 20px;
}

.intro2head2{
  font-family: Raleway-Regular;
font-size: 19px;
color: #737373;
letter-spacing: 1px;
line-height: 20px;
margin: 0px;
}

  #sarea2desc{
      padding-left: 2%;
      padding-right: 2%;
font-size: 16px;
line-height: 16px;
  }
  .row {
     margin-right: 0px; 
     margin-left: 0px; 
}
.threeEMSArea{
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 52px;

}
.newhead3{
font-family: Raleway-Regular;
font-size: 13px;
font-weight: bold;
color: #1553A5;
padding-top: 10px;
padding-bottom: 5px;
}

.threearea img{
  max-width: 111px;
}

.threearea div{
  max-width: 260px;
}
.threearea p{
  max-width: 260px;
}

  #sarea4{
    min-height: 431px;
  }
  #sarea4bg{
    display: none;
  }
  #sarea4bg2{
    display: block;
    min-height: 568px;
    min-width: auto;
    width: 100%;
    height: auto;
  }

  .carousel-caption {
    top: 30%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.toLeft{
  left:auto !important;
  right:auto !important;
  top: 60%;
  margin-right: 20%;
  margin-left: 20%;
}
.toLeft h1{
  padding-bottom: 25px;
}
  #sarea5{
    min-height: 568px;
  }

.big{
      padding-top: 0px !important;
    padding-bottom: 0px !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
}
#animpic{
  max-width:  100%;
  max-height:  100%;
  width: 100%;
    padding-bottom: 30px !important;
}
#threesixpic{
  max-width: 272px;
  max-height: auto;
}

  #sarea6{
    min-height: 431px;
            background-color:#171E38;
  }


.head5{
  font-family: Raleway-Medium;
font-size: 30px;
color: #FFFFFF;
letter-spacing: 0px;
margin-top: 30px;
}
.intro4{
font-family: Raleway-Regular;
font-size: 16px;
color: #FFFFFF;
letter-spacing: 0.96px;
line-height: 16px;
margin-top: 20px;
margin-bottom: 30px;
}

.icon{
  font-family: Raleway-Regular;
font-size: 16px;
color: #FFFFFF;
    position: absolute;
    margin: 0;
    left: 0;
    right: 0;
    bottom: 24px;
}
.smiconbox{
  margin-bottom: 26px;
}
.iconpic{
width:138px;

}
#big5bg{
  position: relative;
  height: 431px;
  width:431px;
  padding-top: 0%;
}

.sm5circle{
    display: block;

}
.big5circle{
    display: none;

}

#circlenbgp{
    width: 330px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

#circleheadp{
    margin: 0;
    position: absolute;
    top: 34%;
    left: 34%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

#circledescp{
    margin: 0;
    position: absolute;
    width: 280px;
    top: 51%;
    left: 17.5%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.circlesize{
    width: 112px;
    margin: 0;
    position: absolute;
    margin-right: -50%;    
    transform: translate(-50%, -50%)
}
.circlet{
    margin: 0;
    font-family: Raleway-Regular;
    font-size: 12px;
    color: #FFFFFF;
    position: absolute;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

#cplani { top: 16%;  left: 50%; }
#cplant { top: 22%;  left: 50%; }
#clearni{ top: 38%;  left: 85%; }
#clearnt{ top: 44%;  left: 85%; }
#impri  { top: 38%;  left: 14%; }
#imprt  { top: 44%;  left: 14%; }
#cevali { top: 78%;  left: 72%; }
#cevalt { top: 84%;  left: 72%; }
#canayi { top: 78%;  left: 28%; }
#canayt { top: 84%;  left: 28%; }




#sarea6_new{
  min-height: 568px;
 height: auto;
  background-image: url('../images/bg_con_320.jpg');
      background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

  
.rowems{
    position:relative;
    padding-top: 15px;
    padding-bottom: 30px;
padding-left: 10px;
padding-right: 10px;
}

#mobpic{
  max-width: 259px;
  max-height: 232px;
}

.head3{
font-family: Raleway-Regular;
font-size: 30px;
color: #FFFFFF;
letter-spacing: 0px;
line-height: 30px;
margin-bottom: 15px;
    position: relative;
    margin-top: -20px;
}

.intro5{
  font-family: Raleway-Regular;
font-size: 13px;
color: #5F5E5E;
letter-spacing: 1px;
line-height: 13px;
}
.head7{
font-family: Raleway-SemiBold;
font-size: 13px;
color: #20B3F0;
}

.threeemsbox{
   min-height: 130px;
  max-width: 250px;
  height: 100%;
  width: 100%;
    background-color: rgba(255,255,255,0.5);
    color: black; 
    text-align: center; 
    padding: 10px 10px 0px 10px;
    margin-bottom: 5px;
}
.threeemsbox img{
  max-height: 30px;
}
.text-uppercase{
  margin-top: 10px;
  margin-bottom: 5px;
}
.rowems .col-md-4{
  padding-left: 0px;
  padding-right : 0px;
}
  #sarea7{
    min-height: 578px;

  }
  #sarea7bg{
  display:none;
  }
#sarea7bg2{
  display:block;
      min-height: 568px;
    width: 100%;
}
.toTop{
      padding-right: 5%;
    padding-left: 5%;
  top:20px !important;
}
.toTop h1{
  padding-bottom: 31px;
      padding-right: auto;
    padding-left: auto;
}
#dyndesc{
  font-size: 16px;
  line-height: 16px;
}
.dyndesc{
  font-size: 16px;
  line-height: 16px;
}

.hiringBar{
  height: 106px;
        text-align: center;
            background-color:#192133;
    line-height: 106px;
}

.slogan{
  font-family: Raleway-Medium;
font-size: 28px;
color: #FFFFFF;
letter-spacing: 0px;

  display: inline-block;
  vertical-align: middle;
  line-height: normal; 
}

.rowmap{
  background-image: url('../images/map_320_zh-TW.jpg');
      background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 568px;
}

#particles { 
  background-image: url('../images/image_data3_320.jpg');
        background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  width: 100%;
 min-height: 568px;
  overflow: hidden; 
}

#dyntitle{
        width: auto;
}

#sarea11{
    min-height: 431px;

}

.contactme{
            background-color:#192133;
        padding-top: 43px;
            padding-bottom: 20px;
}

#conbox{
    position: relative;
    width: 90%;
}
.con2box{
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-bottom: 27px !important;
}
.contact{
   height: 160px;
  width: 100%;
    background-color: #0E141E;
    border-radius: 3px;
    border-color: #111;
    color: white; 
    text-align: center; 
    padding-top: 10px; 
    margin-right: 0px !important;
    margin-left: 0px !important;
}
.contact img{
  max-height: 20px;
}
#contactustag{
padding-top: 25px;
margin:0px;
}
#conustag{
margin:0px !important;
padding-bottom: 10px !important;

}
#conustag img{
  width: 30px !important;
}
.h_grey{
font-family: ArialMT;
font-size: 14px;
color: #98A4BD;

}

.content_grey{ 
font-family: Roboto-Regular;
font-size: 14px;
color: #98A4BD;
letter-spacing: 0.1px;}

 .h2_grey{ 
 font-family: Arial-BoldMT;
 font-size: 22px;
 color: #636E84;
margin-left: 20px;}

.smalltext_grey{ 
font-family: "Trebuchet MS", Helvetica, sans-serif;
font-size: 12px;
color: #4D5968;
line-height: 20px;
}
.form-group{
  margin-bottom: 21px;
}
#submitbtn{
  margin-top: 0px;
}
.topbtnui{
      position: absolute;
    right: 20px;
    top: 0px;
    z-index: 30;
}
#topsmbtn{
  height: 56px;
  font-size: 16px;
line-height: 50px;
  color: #4D5968;
  margin: 0px !important;
  border: 1px solid #2a333d;
}

.xsmbtnarea{
  margin-bottom: 20px;
}
footer {
     background-color:#0E141E;
    color: #9e9e9e;
    width: 100%;    
}


.blacktext{
  color: black !important;
}


::-webkit-input-placeholder {
 font-family: ArialMT !important;
font-size: 16px !important;
color: #98A4BD !important;
}
:-moz-placeholder {
font-family: ArialMT !important;
font-size: 16px !important;
color: #98A4BD !important;
}
::-moz-placeholder {
font-family: ArialMT !important;
font-size: 16px !important;
color: #98A4BD !important;
}
:-ms-input-placeholder {
font-family: ArialMT !important;
font-size: 16px !important;
color: #98A4BD !important;
}

input, select, textarea{
   font-family: ArialMT !important;
font-size: 16px !important;
color: #192133 !important;
}


.button_font{ 
font-family: Arial-BoldMT;
font-size: 18px;
color: #FFFFFF;
letter-spacing: 0.05px;
  background-image: url('../images/button.png');
      background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 44px;
    width: 270px;
}

.form-control {
    height: 40px;
}
#smfooter{
  display: none;
}
#bigfooter{
  display: none;

}#smanimbox{
  display: block;
}
#biganimbox{
  display: none;
}
#bigcontact{
  display: none;
}
#smcontact{
  display: block;
}

#bigform{
  display: none;
}
#smform{
  display: block;
}

#xsmfooter{
  display: block;
}
.dynbgchange{
position: relative;
}
.cynbgch{
position: static;
top: auto;
transform: none;
left:0;
right: 0;
}

.cynbgch3{
position: static !important;
top: auto !important;
transform: none !important;
width:auto !important;
}
  /*end max 320px */
canvas{
  display: none;
}
}


















@media (min-width: 767px){

  #orgName{
    font-family: STHeitiTC-Medium;
  font-size: 24px;
  color: #FFFFFF;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  margin-left: 40px;
  margin-top: 40px;
  }
  #sarea1{
    min-height: 431px;
  }
  #sarea1bg{
  display: block;
    min-height: 431px;
    min-width: 768px;
    width: 100%;
    height: auto;
  }
    #sarea1bg2{
display: none;
  }
  .head1{
  font-family: Raleway-Regular;
  font-size: 40px;
  color: #FFFFFF;
  letter-spacing: 0px;
  }
  .intro1{
    font-family: Raleway-Regular;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 1.44px;
  line-height: 16px;
  }
  #linegrp{
        cursor: default;
      text-align: center;
      position: relative;
  }
  #line1 {
      width: 7.5%;
      position: absolute;
      top: 50%;
      margin: 0;
      left: 0;
      margin-left: 11.5%;
      display: block;
  }
  #line2 {
      width: 7.5%;
      position: absolute;
      top: 50%;
      margin: 0;
      right: 0;
      margin-right: 11.5%;
      display: block;
  }
#minhr{
  display: none;
}
#linel{
  width: 10%;
}
#linec{
  width: 80%;
}
#liner{
  width: 10%;
}

  .lineclass{
    border: 1px solid #FFFFFF;
  }
  #sarea2{
    min-height: 431px;
     height: auto;
  }
  .alltextcenter{
    text-align: center;
  }

.head2{
  font-family: Raleway-Regular;
font-size: 40px;
color: #1553A5;
letter-spacing: 0px;
top: 0;
padding-top: 30px;
padding-bottom: 18px;
}
.intro2{
font-family: Raleway-Regular;
font-size: 13px;
color: #737373;
letter-spacing: 1px;
line-height: 13px;
padding-bottom: 20px;
}

.intro2head2{
  font-family: Raleway-Regular;
font-size:19px;
color: #737373;
letter-spacing: 1px;
line-height: 20px;
margin: 0px;
}

  #sarea2desc{
      padding-left: 2%;
      padding-right: 2%;
line-height: 16px;
font-size: 16px;
  }
  .row {
     margin-right: 0px; 
     margin-left: 0px; 
}
.threeEMSArea{
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 52px;

}
.newhead3{
font-family: Raleway-Regular;
font-size: 13px;
font-weight: bold;
color: #1553A5;
padding-top: 10px;
padding-bottom: 5px;
}

.threearea img{
  max-width: 111px;
}

.threearea div{
  max-width: 260px;
}
.threearea p{
  max-width: 260px;
}

  #sarea4{
    min-height: 431px;
  }
  #sarea4bg{
    min-height: 431px;
    min-width: 768px;
    width: 100%;
    height: auto;
    display: block;
  }
  #sarea4bg2{
    display: none;
  }

  .carousel-caption {
    top: 30%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.toLeft{
  left:10% !important;
  right:auto !important;
}
.toLeft h1{
  padding-bottom: 25px;
}
  #sarea5{
    min-height: 431px;
  }

.big{
      padding-top: 30px !important;
    padding-bottom: 40px !important;
    padding-right: 40px !important;
    padding-left: 20px !important;
}
#animpic{
  min-width: 391px;
  min-height: 307px;
}
#threesixpic{
  max-width: auto;
  max-height: 89px;
}

  #sarea6{
    min-height: 431px;
            background-color:#171E38;
  }


.head5{
  font-family: Raleway-Medium;
font-size: 20px;
color: #FFFFFF;
letter-spacing: 0px;
margin-top: 50px;
}
.intro4{
font-family: Raleway-Regular;
font-size: 12px;
color: #FFFFFF;
letter-spacing: 0.96px;
line-height: 12px;
margin-top: 50px;
}


#big5bg{
  position: relative;
  height: 431px;
  width:431px;
  padding-top: 0%;
}

.sm5circle{
    display: none;

}
.big5circle{
    display: block;

}

#circlenbgp{
    width: 330px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

#circleheadp{
    margin: 0;
    position: absolute;
    top: 34%;
    left: 34%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

#circledescp{
    margin: 0;
    position: absolute;
    width: 280px;
    top: 51%;
    left: 17.5%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.circlesize{
    width: 112px;
    margin: 0;
    position: absolute;
    margin-right: -50%;    
    transform: translate(-50%, -50%)
}
.circlet{
    margin: 0;
    font-family: Raleway-Regular;
    font-size: 12px;
    color: #FFFFFF;
    position: absolute;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

#cplani { top: 16%;  left: 50%; }
#cplant { top: 22%;  left: 50%; }
#clearni{ top: 38%;  left: 85%; }
#clearnt{ top: 44%;  left: 85%; }
#impri  { top: 38%;  left: 14%; }
#imprt  { top: 44%;  left: 14%; }
#cevali { top: 78%;  left: 72%; }
#cevalt { top: 84%;  left: 72%; }
#canayi { top: 78%;  left: 28%; }
#canayt { top: 84%;  left: 28%; }




#sarea6_new{
  min-height: 431px;
 height: auto;
  background-image: url('../images/bg_con.jpg');
      background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

  
.rowems{
    position:relative;
    padding-top: 15px;
padding-left: 10px;
padding-right: 10px;
}

#mobpic{
  max-width: 217px;
  max-height: 194px;
}

.head3{
font-family: Raleway-Regular;
font-size: 32px;
color: #FFFFFF;
letter-spacing: 0px;
line-height: 32px;
margin-bottom: 15px;
    position: relative;
    margin-top: -20px;
}

.intro5{
  font-family: Raleway-Regular;
font-size: 13px;
color: #5F5E5E;
letter-spacing: 1px;
line-height: 13px;
}
.head7{
font-family: Raleway-SemiBold;
font-size: 13px;
color: #20B3F0;
}

.threeemsbox{
   min-height: 132px;
  max-width: 233px;
  height: 100%;
  width: 100%;
    background-color: rgba(255,255,255,0.5);
    color: black; 
    text-align: center; 
    padding: 10px 10px 0px 10px;
    margin-bottom: 5px;
}
.threeemsbox img{
  max-height: 30px;
}
.text-uppercase{
  margin-top: 10px;
  margin-bottom: 5px;
}
.rowems .col-md-4{
  padding-left: 0px;
  padding-right : 0px;
}
  #sarea7{
    min-height: 431px;
  }
  #sarea7bg{
    min-height: 431px;
    min-width: 768px;
    width: 100%;
    height: auto;
  display: block;
  }
#sarea7bg2{
  display: none;
}
.toTop{
  top:20px !important;
}
.toTop h1{
  padding-bottom: 31px;
}
#dyndesc{
  font-size: 16px;
  line-height: 16px;
}
.dyndesc{
  font-size: 16px;
  line-height: 16px;
}

.hiringBar{
  height: 106px;
        text-align: center;
            background-color:#192133;
    line-height: 106px;
}

.slogan{
  font-family: Raleway-Medium;
font-size: 35px;
color: #FFFFFF;
letter-spacing: 0px;

  display: inline-block;
  vertical-align: middle;
  line-height: normal; 
}

.rowmap{
  background-image: url('../images/map_1920_zh-TW.jpg');
      background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 256px;
}

#particles { 
  background-image: url('../images/image_data3.jpg');
        background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  width: 100%;
 height: 431px;
  overflow: hidden; 
}

#dyntitle{
        width: 650px;
}

#sarea11{
    min-height: 431px;

}

.contactme{
            background-color:#192133;
        padding-top: 43px;
            padding-bottom: 107px;
}

#conbox{
    position: relative;
    width: 90%;
}
.con2box{
  padding-left: 0px !important;
  padding-right: 20px !important;
  padding-bottom: 0px !important;
}
.contact{
   height: 161px;
  /*width: 503px;*/
  width: 100%;
    background-color: #0E141E;
    border-radius: 3px;
    border-color: #111;
    color: white; 
    text-align: center; 
    padding-top: 5px;
    margin-right: 0px !important;
    margin-left: 0px !important;
}
.contact img{
  max-height: 20px;
}
#contactustag{
padding-top: 25px;
margin:0px;
}
#conustag{
margin:0px !important;
padding-bottom: 10px !important;

}
#conustag img{
  width: 30px !important;
}
.h_grey{
font-family: ArialMT;
font-size: 14px;
color: #98A4BD;

}

.content_grey{ 
font-family: Roboto-Regular;
font-size: 14px;
color: #98A4BD;
letter-spacing: 0.1px;}

 .h2_grey{ 
 font-family: Arial-BoldMT;
 font-size: 22px;
 color: #636E84;
margin-left: 20px;}

.smalltext_grey{ 
font-family: "Trebuchet MS", Helvetica, sans-serif;
font-size: 12px;
color: #4D5968;
line-height: 20px;
margin-right: 50px;
}
.form-group{
  margin-bottom: 26px;
}
#submitbtn{
  margin-top: 0px;
}
.topbtnui{
      position: absolute;
    right: 20px;
    top: 0px;
    z-index: 30;
}
footer {
     background-color:#0E141E;
    color: #9e9e9e;
    width: 100%;    height: 80px;
}
.blacktext{
  color: black !important;
}


::-webkit-input-placeholder {
 font-family: ArialMT !important;
font-size: 16px !important;
color: #98A4BD !important;
}
:-moz-placeholder {
font-family: ArialMT !important;
font-size: 16px !important;
color: #98A4BD !important;
}
::-moz-placeholder {
font-family: ArialMT !important;
font-size: 16px !important;
color: #98A4BD !important;
}
:-ms-input-placeholder {
font-family: ArialMT !important;
font-size: 16px !important;
color: #98A4BD !important;
}

input, select, textarea{
   font-family: ArialMT !important;
font-size: 16px !important;
color: #192133 !important;
}


.button_font{ 
font-family: Arial-BoldMT;
font-size: 18px;
color: #FFFFFF;
letter-spacing: 0.05px;
  background-image: url('../images/button.png');
      background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 45px;
    width: 256px;
}

.form-control {
    height: 40px;

}
#smfooter{
  display: block;
  padding-top: 20px;
}
#bigfooter{
  display: none;

}

#smanimbox{
  display: none;
}
#biganimbox{
  display: block;
}

#bigcontact{
  display: block;
}
#smcontact{
  display: none;
}

#bigform{
  display: block;
}
#smform{
  display: none;
}

#xsmfooter{
  display: none;
}
.dynbgchange{
position: relative;
}
.cynbgch{
position: absolute;
top: 50%;
transform: translateY(-50%);
left:0;
right: 0;
}
.cynbgch2{
position: absolute !important;
top: 50% !important;
left:50% !important;
transform: translateY(-50%) !important;
margin-left: -215px !important;
}
.cynbgch3{
position: absolute !important;
top: 50% !important;
transform: translateY(-50%) !important;
width:100% !important;
}
  /*end max 768px */
canvas{
  display: block;
}
}
















@media (min-width: 1200px){

  #orgName{
    font-family: 'STHeitiTC-Medium','PingFang-Bold';
  font-size: 30px;
  color: #FFFFFF;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  margin-left: 40px;
  margin-top: 40px;
  }
  #sarea1{
    min-height: 674px;
  }
  #sarea1bg{
display: block;
    min-height: 674px;
    min-width: 1200px;
    width: 100%;
    height: auto;
  }    
  #sarea1bg2{
display: none;
  }
  .head1{
  font-family: 'Raleway-Regular','PingFang-Bold';
  font-size: 62px;
  color: #FFFFFF;
  letter-spacing: 0px;
  }
  .intro1{
    font-family: 'Raleway-Regular','PingFang-Medium';
  font-size: 20px;
  color: #FFFFFF;
  letter-spacing: 1.44px;
  line-height: 20px;
  }
  #linegrp{
        cursor: default;
      text-align: center;
      position: relative;
  }
  #line1 {
      width: 12.5%;
      position: absolute;
      top: 50%;
      margin: 0;
      left: 0;
      margin-left: 12.5%;
      display: block;
  }
  #line2 {
      width: 12.5%;
      position: absolute;
      top: 50%;
      margin: 0;
      right: 0;
      margin-right: 12.5%;
      display: block;
  }
  #minhr{
  display: none;
}
  .lineclass{
    border: 2px solid #FFFFFF;
  }
  #sarea2{
    min-height: 674px;
     height: auto;
  }
  .alltextcenter{
    text-align: center;
  }

.head2{
  font-family: 'Raleway-Regular','PingFang-Bold';
font-size: 62px;
color: #1553A5;
letter-spacing: 0px;
top: 0;
padding-top: 61px;
padding-bottom: 25px;
}
.intro2{
font-family: 'Raleway-Regular','PingFang-Medium';
font-size: 16px;
color: #737373;
letter-spacing: 1px;
line-height: 20px;
padding-bottom: 35px;
}
.intro2head2{
  font-family: 'Raleway-Regular','PingFang-Medium';
font-size: 22px;
color: #737373;
letter-spacing: 1px;
line-height: 22px;
margin: 0px;
}

  #sarea2desc{
      padding-left: 8%;
      padding-right: 8%;
font-size: 20px;
line-height: 20px;
  }
  .row {
     margin-right: 0px; 
     margin-left: 0px; 
}
.threeEMSArea{
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 112px;

}
.newhead3{
font-family: 'Raleway-Regular','PingFang-Bold';
font-size: 16px;
font-weight: bold;
color: #1553A5;
padding-top: 33px;
padding-bottom: 33px;
}

.threearea img{
  max-width: 174px;
}

.threearea div{
  max-width: 400px;
}
.threearea p{
  max-width: 400px;
}

  #sarea4{
    min-height: 674px;
  }
  #sarea4bg{
    min-height: 674px;
    min-width: 1200px;
    width: 100%;
    height: auto;
    display: block;
  }
  #sarea4bg2{
    display: none;
  }


  .carousel-caption {
    top: 40%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.toLeft{
  left:10% !important;
  right:auto !important;
}
.toLeft h1{
  padding-bottom: 51px;
}
  #sarea5{
    min-height: 674px;
  }

.big{
      padding-top: 70px !important;
    padding-bottom: 90px !important;
    padding-right: 80px !important;
    padding-left: 40px !important;
}
#animpic{
  min-width: 611px;
  min-height: 481px;
}
#threesixpic{
  max-width: 385px;
  max-height: 139px;
}

  #sarea6{
    min-height: 674px;
            background-color:#171E38;
  }


.head5{
  font-family: 'Raleway-Medium','PingFang-Bold';
font-size: 35px;
color: #FFFFFF;
letter-spacing: 0px;
margin-top: 50px;
}
.intro4{
font-family: 'Raleway-Regular','PingFang-Medium';
font-size: 16px;
color: #FFFFFF;
letter-spacing: 0.96px;
line-height: 16px;
margin-top: 50px;
}


#big5bg{
  position: relative;
  height: 674px;
  width:674px;
  padding-top: 0%;
}

.sm5circle{
    display: none;

}
.big5circle{
    display: block;

}

#circlenbgp{
    width: 520px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

#circleheadp{
    margin: 0;
    position: absolute;
    top: 34%;
    left: 32%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

#circledescp{
    margin: 0;
    position: absolute;
    width: 400px;
    top: 51%;
    left: 20.5%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.circlesize{
    width: 173px;
    margin: 0;
    position: absolute;
    margin-right: -50%;    
    transform: translate(-50%, -50%)
}
.circlet{
    margin: 0;
    font-family: 'Raleway-Regular','PingFang-Bold';
    font-size: 18px;
    color: #FFFFFF;
    position: absolute;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

#cplani { top: 16%;  left: 50%; }
#cplant { top: 22%;  left: 50%; }
#clearni{ top: 38%;  left: 85%; }
#clearnt{ top: 44%;  left: 85%; }
#impri  { top: 38%;  left: 14%; }
#imprt  { top: 44%;  left: 14%; }
#cevali { top: 78%;  left: 72%; }
#cevalt { top: 84%;  left: 72%; }
#canayi { top: 78%;  left: 28%; }
#canayt { top: 84%;  left: 28%; }




#sarea6_new{
  min-height: 674px;
 height: auto;
  background-image: url('../images/bg_con.jpg');
      background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

  
.rowems{
    position:relative;
    padding-top: 25px;
padding-left: 60px;
padding-right: 60px;
}

#mobpic{
  max-width: 340px;
  max-height: 304px;
}

.head3{
font-family: 'Raleway-Regular','PingFang-Bold';
font-size: 50px;
color: #FFFFFF;
letter-spacing: 0px;
line-height: 50px;
margin-bottom: 25px;
    position: relative;
    margin-top: -30px;
}

.intro5{
  font-family: 'Raleway-Regular','PingFang-Medium';
font-size: 16px;
color: #5F5E5E;
letter-spacing: 1px;
line-height: 16px;
}
.head7{
font-family: 'Raleway-Regular','PingFang-Bold';
font-size: 16px;
color: #20B3F0;
}

.threeemsbox{
   min-height: 190px;
  max-width: 349px;
  height: 100%;
  width: 100%;
    background-color: rgba(255,255,255,0.5);
    color: black; 
    text-align: center; 
    padding: 25px 25px 0px 25px;
    margin-bottom: 10px;
}
.threeemsbox img{
  max-height: 44px;
}
.text-uppercase{
  margin-top: 20px;
  margin-bottom: 10px;
}

  #sarea7{
    min-height: 674px;
  }
  #sarea7bg{
    min-height: 674px;
    min-width: 1200px;
    width: 100%;
    height: auto;
  display: block;
  }
#sarea7bg2{
  display: none;
}
#dyndesc{
  font-size: 20px;
  line-height: 28px;
}
.dyndesc{
  font-size: 20px;
  line-height: 28px;
}

.hiringBar{
  height: 106px;
        text-align: center;
            background-color:#192133;
    line-height: 106px;
}

.slogan{
  font-family: 'Raleway-Medium','PingFang-Bold';
font-size: 40px;
color: #FFFFFF;
letter-spacing: 0px;

  display: inline-block;
  vertical-align: middle;
  line-height: normal; 
}

.rowmap{
  background-image: url('../images/map_1920_zh-TW.jpg');
      background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 256px;
}

#particles { 
  background-image: url('../images/image_data3.jpg');
        background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  width: 100%;
 height: 674px;
  overflow: hidden; 
}

#dyntitle{
        width: 1000px;
}

#sarea11{
    min-height: 674px;

}

.contactme{
            background-color:#192133;
        padding-top: 43px;
}

#conbox{
    position: relative;
    width: 60%;
}
.con2box{
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-bottom: 0px !important;
}
.contact{
   height: 161px;
  /*width: 503px;*/
  width: 314px;
    background-color: #0E141E;
    border-radius: 3px;
    border-color: #111;
    color: white; 
    text-align: center; 
    padding-top: 5px;
    margin-right: 0px !important;
    margin-left: 0px !important;
}
.contact img{
  max-height: 20px;
}
#contactustag{
padding-top: 25px;
margin:0px;
}
#conustag{
margin:0px !important;
padding-bottom: 30px !important;

}

.h_grey{
font-family: 'ArialMT','PingFang-Medium';
font-size: 14px;
color: #98A4BD;

}

.content_grey{ 
font-family: 'Roboto-Regular','PingFang-Medium';
font-size: 14px;
color: #98A4BD;
letter-spacing: 0.1px;}

 .h2_grey{ 
 font-family: 'Arial-BoldMT','PingFang-Bold';
 font-size: 22px;
 color: #636E84;
margin-left: 20px;}

.smalltext_grey{ 
font-family: 'Trebuchet MS','PingFang-Medium', Helvetica, sans-serif;
font-size: 12px;
color: #4D5968;
line-height: 68px;
}
.form-group{
  margin-bottom: 26px;
}
#submitbtn{
  margin-top: 0px;
}
.topbtnui{
      position: absolute;
    right: 20px;
    top: 15px;
    z-index: 30;
}
footer {
     background-color:#0E141E;
    color: #9e9e9e;
    min-height: 80px;
    width: 100%;
}
.blacktext{
  color: black !important;
}

.toTop{
  top:52px !important;
}
.toTop h1{
  padding-bottom: 41px;
}

::-webkit-input-placeholder {
 font-family: 'ArialMT','PingFang-Medium' !important;
font-size: 16px !important;
color: #98A4BD !important;
}
:-moz-placeholder {
font-family: 'ArialMT','PingFang-Medium' !important;
font-size: 16px !important;
color: #98A4BD !important;
}
::-moz-placeholder {
font-family: 'ArialMT','PingFang-Medium' !important;
font-size: 16px !important;
color: #98A4BD !important;
}
:-ms-input-placeholder {
font-family: 'ArialMT','PingFang-Medium' !important;
font-size: 16px !important;
color: #98A4BD !important;
}

input, select, textarea{
   font-family: 'ArialMT','PingFang-Medium' !important;
font-size: 16px !important;
color: #192133 !important;
}


.button_font{ 
font-family: 'Arial-BoldMT','PingFang-Bold';
font-size: 18px;
color: #FFFFFF;
letter-spacing: 0.05px;
  background-image: url('../images/button.png');
      background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 45px;
    width: 256px;
}

.form-control {
    height: 40px;

}
#smfooter{
  display: none;
}
#bigfooter{
  display: block;

}

#smanimbox{
  display: none;
}
#biganimbox{
  display: block;
}

#bigcontact{
  display: block;
}
#smcontact{
  display: none;
}

#bigform{
  display: block;
}
#smform{
  display: none;
}
#xsmfooter{
  display: none;
}
.dynbgchange{
position: relative;
}
.cynbgch{
position: absolute;
top: 50%;
transform: translateY(-50%);
left:0;
right: 0;
}
.cynbgch2{
position: absolute !important;
top: 50% !important;
left:50% !important;
transform: translateY(-50%) !important;
margin-left: -337px !important;
}
.cynbgch3{
position: absolute !important;
top: 50% !important;
width:100% !important;
transform: translateY(-50%) !important;
}
  /*end max 1200px */
canvas{
  display: block;
}
}
 



















 




@media (min-width: 1366px){
#dyndesc {
    font-size: 28px;
    line-height: 32px;
}
.intro1 {
    font-family: Raleway-Regular;
    font-size: 28px;
    color: #FFFFFF;
    letter-spacing: 1.44px;
    line-height: 32px;
}
#sarea2desc {
    padding-left: 8%;
    padding-right: 8%;
    font-size: 28px;
    line-height: 32px;
}
canvas{
  display: block;
}
}
















@media(min-width: 1920px){

  #orgName{
    font-family: STHeitiTC-Medium;
  font-size: 48px;
  color: #FFFFFF;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  margin-left: 40px;
  margin-top: 40px;
  }
  #sarea1{
    min-height: 1080px;
  }
  #sarea1bg{
display: block;
    min-height: 1080px;
    min-width: 1920px;
    width: 100%;
    height: auto;
  }
    #sarea1bg2{
display: none;
  }
  .head1{
  font-family: Raleway-Regular;
  font-size: 100px;
  color: #FFFFFF;
  letter-spacing: 0px;
  }
  .intro1{
    font-family: Raleway-Regular;
  font-size: 36px;
  color: #FFFFFF;
  letter-spacing: 1.44px;
  line-height: 45px;
  }
  #linegrp{
        cursor: default;
      text-align: center;
      position: relative;
  }
  #line1 {
      width: 12.5%;
      position: absolute;
      top: 50%;
      margin: 0;
      left: 0;
      margin-left: 12.5%;
      display: block;
  }
  #line2 {
      width: 12.5%;
      position: absolute;
      top: 50%;
      margin: 0;
      right: 0;
      margin-right: 12.5%;
      display: block;
  }
  #minhr{
  display: none;
}
  .lineclass{
    border: 2px solid #FFFFFF;
  }
  #sarea2{
    min-height: 1080px;
     height: auto;
  }
  .alltextcenter{
    text-align: center;
  }

.head2{
  font-family: Raleway-Regular;
font-size: 100px;
color: #1553A5;
letter-spacing: 0px;
top: 0;
padding-top: 112px;
padding-bottom: 51px;
}
.intro2{
font-family: Raleway-Regular;
font-size: 25px;
color: #737373;
letter-spacing: 1px;
line-height: 38px;
padding-bottom: 70px;
}
.intro2head2{
  font-family: Raleway-Regular;
font-size: 28px;
color: #737373;
letter-spacing: 1px;
line-height: 38px;
margin: 0px;
}

  #sarea2desc{
      padding-left: 12%;
      padding-right: 12%;
font-size: 25px;
line-height: 38px;
  }
  .row {
     margin-right: 0px; 
     margin-left: 0px; 
}
.threeEMSArea{
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 112px;

}
.newhead3{
font-family: Raleway-Regular;
font-size: 24px;
font-weight: bold;
color: #1553A5;
padding-top: 33px;
padding-bottom: 33px;
}

.threearea div{
  max-width: 444px;
}
.threearea p{
  max-width: 444px;
}

  #sarea4{
    min-height: 1080px;
  }
  #sarea4bg{
    min-height: 1080px;
    min-width: 1920px;
    width: 100%;
    height: auto;
    display: block;
  }
  #sarea4bg2{
    display: none;
  }


  .carousel-caption {
    top: 40%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.toLeft{
  left:10% !important;
  right:auto !important;
}
.toLeft h1{
  padding-bottom: 51px;
}
  #sarea5{
    min-height: 1080px;
  }

.big{
      padding-top: 131px !important;
    padding-bottom: 187px !important;
    padding-right: 166px !important;
    padding-left: 96px !important;
}
#animpic{
  min-width: 979px;
  min-height: 770px;
}
#threesixpic{
  max-width: 630px;
  max-height: 240px;
}

  #sarea6{
    min-height: 1080px;
            background-color:#171E38;
  }


.head5{
  font-family: Raleway-Medium;
font-size: 44px;
color: #FFFFFF;
letter-spacing: 0px;
margin-top: 50px;
}
.intro4{
font-family: Raleway-Regular;
font-size: 24px;
color: #FFFFFF;
letter-spacing: 0.96px;
line-height: 35px;
margin-top: 50px;
}


#big5bg{
  position: relative;
  height: 1080px;
  width:1080px;
  padding-top: 0%;
}

.sm5circle{
    display: none;

}
.big5circle{
    display: block;

}

#circlenbgp{
    width: 700px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

#circleheadp{
    margin: 0;
    position: absolute;
    top: 37%;
    left: 35%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

#circledescp{
    margin: 0;
    position: absolute;
    width: 550px;
    top: 51%;
    left: 24.5%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.circlesize{
    width: 250px;
    margin: 0;
    position: absolute;
    margin-right: -50%;    
    transform: translate(-50%, -50%)
}
.circlet{
    margin: 0;
    font-family: Raleway-Regular;
    font-size: 27.27px;
    color: #FFFFFF;
    position: absolute;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

#cplani { top: 22%;  left: 50%; }
#cplant { top: 29%;  left: 50%; }
#clearni{ top: 39%;  left: 80%; }
#clearnt{ top: 45%;  left: 80%; }
#cevali { top: 74%;  left: 69%; }
#cevalt { top: 78%;  left: 69%; }
#canayi { top: 74%;  left: 31%; }
#canayt { top: 78%;  left: 31%; }
#impri  { top: 39%;  left: 19%; }
#imprt  { top: 45%;  left: 19%; }



#sarea6_new{
  min-height: 1080px;
 height: auto;
  background-image: url('../images/bg_con.jpg');
      background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

  
.rowems{
    position:relative;
    padding-top: 52px;
padding-left: 60px;
padding-right: 60px;
}

#mobpic{
  max-width: 573px;
  max-height: 512px;
}

.head3{
font-family: Raleway-Regular;
font-size: 72px;
color: #FFFFFF;
letter-spacing: 0px;
line-height: 77px;
margin-bottom: 51px;
    position: relative;
    margin-top: -50px;
}

.intro5{
  font-family: Raleway-Regular;
font-size: 20px;
color: #5F5E5E;
letter-spacing: 1px;
line-height: 27px;
}
.head7{
font-family: Raleway-SemiBold;
font-size: 24px;
color: #20B3F0;
}

.threeemsbox{
   min-height: 304px;
  max-width: 560px;
  height: 100%;
  width: 100%;
    background-color: rgba(255,255,255,0.5);
    color: black; 
    text-align: center; 
    padding: 50px 50px 0px 50px;
    margin-bottom: 10px;
}

.text-uppercase{
  margin-top: 20px;
  margin-bottom: 10px;
}

  #sarea7{
    min-height: 1080px;
  }
  #sarea7bg{
    min-height: 1080px;
    min-width: 1920px;
    width: 100%;
    height: auto;
  display: block;
  }
#sarea7bg2{
  display: none;
}



.hiringBar{
  height: 172px;
        text-align: center;
            background-color:#192133;
    line-height: 172px;
}

.slogan{
  font-family: Raleway-Medium;
font-size: 60px;
color: #FFFFFF;
letter-spacing: 0px;

  display: inline-block;
  vertical-align: middle;
  line-height: normal; 
}

.rowmap{
  background-image: url('../images/map_1920_zh-TW.jpg');
      background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 410px;
}

#particles { 
  background-image: url('../images/image_data3.jpg');
        background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  width: 100%;
 height: 1080px;
  overflow: hidden; 
}

#dyntitle{
        width: 1300px;
}
#dyndesc{
  font-size: 25px;
  line-height: 38px;
}
.dyndesc{
  font-size: 25px;
  line-height: 38px;
}
#sarea11{
    min-height: 1080px;

}

.contactme{
            background-color:#192133;
        padding-top: 72px;
}

#conbox{
    position: relative;
    width: 55%;
}
.con2box{
  padding-left: 0px !important;
  padding-right: 20px !important;
  padding-bottom: 0px !important;
}
.contact{
   height: 260px;
  /*width: 503px;*/
  width: 100%;
    background-color: #0E141E;
    border-radius: 3px;
    border-color: #111;
    color: white; 
    text-align: center; 
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 10px;
    margin-right: 0px !important;
    margin-left: 0px !important;
}
#contactustag{
padding-top: 56px;
margin:0px;
}
#conustag{
margin:0px !important;
padding-bottom: 30px !important;

}

.h_grey{
font-family: ArialMT;
font-size: 20px;
color: #98A4BD;

}

.content_grey{ 
font-family: Roboto-Regular;
font-size: 16px;
color: #98A4BD;
letter-spacing: 0.1px;}

 .h2_grey{ 
 font-family: Arial-BoldMT;
 font-size: 22px;
 color: #636E84;
margin-left: 20px;}

.smalltext_grey{ 
font-family: "Trebuchet MS", Helvetica, sans-serif;
font-size: 12px;
color: #4D5968;
line-height: 68px;
}
.form-group{
  margin-bottom: 26px;
}
#submitbtn{
  margin-top: 42px;
}
.topbtnui{
      position: absolute;
    right: 20px;
    top: 15px;
    z-index: 30;
}
footer {
     background-color:#0E141E;
    color: #9e9e9e;
    min-height: 68px;
    width: 100%;
}
.blacktext{
  color: black !important;
}

.toTop{
  top:112px !important;
}
.toTop h1{
  padding-bottom: 51px;
}

::-webkit-input-placeholder {
 font-family: ArialMT !important;
font-size: 20px !important;
color: #98A4BD !important;
}
:-moz-placeholder {
font-family: ArialMT !important;
font-size: 20px !important;
color: #98A4BD !important;
}
::-moz-placeholder {
font-family: ArialMT !important;
font-size: 20px !important;
color: #98A4BD !important;
}
:-ms-input-placeholder {
font-family: ArialMT !important;
font-size: 20px !important;
color: #98A4BD !important;
}

input, select, textarea{
   font-family: ArialMT !important;
font-size: 20px !important;
color: #192133 !important;
}


.button_font{ 
font-family: Arial-BoldMT;
font-size: 18px;
color: #FFFFFF;
letter-spacing: 0.05px;
  background-image: url('../images/button.png');
      background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 53px;
    width: 298px;
}

.form-control {
    height: 50px;

}
#smfooter{
  display: none;
}
#bigfooter{
  display: block;
}

#smanimbox{
  display: none;
}
#biganimbox{
  display: block;
}

#bigcontact{
  display: block;
}
#smcontact{
  display: none;
}

#bigform{
  display: block;
}
#smform{
  display: none;
}
#xsmfooter{
  display: none;
}
.dynbgchange{
position: relative;
}
.cynbgch{
position: absolute;
top: 50%;
transform: translateY(-50%);
left:0;
right: 0;
}

.cynbgch2{
position: absolute !important;
top: 50% !important;
left:50% !important;
transform: translateY(-50%) !important;
margin-left: -540px !important;
}
.cynbgch3{
position: absolute !important;
top: 50% !important;
transform: translateY(-50%) !important;
width:100% !important;
}
canvas{
  display: block;
}

  /*end min 1920px */
}







.con2box-r{
  padding-right: 0px !important;

}


